input:focus {
    outline: none;
    border: none;
}
#button_restart{
    border: none;
    outline: none;
}
.none{
    display: none !important;
}
@keyframes bounce {
  0% { transform: scale(0.9); opacity: 0; }
  50% { transform: scale(1.05); opacity: 1; }
  100% { transform: scale(1); }
  }
  
  .bounce {
    animation: bounce 0.6s ease;
  }

html, body{
    height: 100%;
    overflow: hidden;
}

#login_image{
    animation: alternate-reverse 2s infinite animation1;
}

@keyframes animation1{
    0%{
        transform: translateY(1vh);
    }
    100%{
        transform: translateY(-1.5vh);
}
}

@keyframes catRotate {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
  }
  
  .catRotate {
    animation: catRotate 2s infinite;
    transform-origin: bottom center;
  }
  
  @keyframes softPop {
    0% {
      opacity: 0;
      transform: scale(0.95) translateY(10px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  .result_container {
    text-align: center;
    animation: softPop 0.8s ease-out;
  }

  @keyframes catScale {
    0% { transform: scale(1); }
    50% { transform: scale(1.15); }
    100% { transform: scale(1); }
  }


  .catScale {
  animation: catScale 0.4s ease-in-out;
}

@keyframes catWiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}


  .catWiggle {
  animation: catWiggle 0.6s ease-in-out;
}

.loader {
  padding: 1rem 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  animation: fadeIn 0.3s ease-in-out;
  z-index: 1000;
}
.hidden {
  display: none;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
  





  
  